<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="assets/images/Black_and_Grey_Illustrated_Car_Rental_Service_Logo__2_-removebg-preview.png"
          alt="DriveDash Logo"
          loading="lazy"
          class="wider-logo"
          height="15"
        />
      </a>
    </div>
    <!-- Collapsible wrapper -->
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        (input)="search($event)"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
    

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-light me-2" mdbRipple rippleColor="dark" (click)="toggleDarkMode()">
        <i class="far fa-moon"></i> <!-- Using a moon icon for dark mode -->
      </button>
      
      <!-- Avatar -->
      <a
        class="nav-link d-flex align-items-center"
        href="#"
        id="navbarDropdownMenuAvatar"
        role="button"
        aria-expanded="false"
        (click)="toggleDropdown()"
      >
        <i class="fas fa-sign-out-alt text-muted" style="font-size: 1.5em;"></i>
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->